<p id="notice"><%= notice %></p>

<p>
  <b>College name:</b>
  <%= @option.college_name %>
</p>

<p>
  <b>Branch:</b>
  <%= @option.branch %>
</p>

<p>
  <b>Attempt:</b>
  <%= @option.attempt_id %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
