<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @cutoff.round %>
</p>

<p>
  <b>Caste:</b>
  <%= @cutoff.caste %>
</p>

<p>
  <b>Male score:</b>
  <%= @cutoff.male_score %>
</p>

<p>
  <b>Female score:</b>
  <%= @cutoff.female_score %>
</p>

<p>
  <b>Male sml rank:</b>
  <%= @cutoff.male_sml_rank %>
</p>

<p>
  <b>Female sml rank:</b>
  <%= @cutoff.female_sml_rank %>
</p>

<p>
  <b>Aieee rank:</b>
  <%= @cutoff.aieee_rank %>
</p>

<p>
  <b>Aieee score:</b>
  <%= @cutoff.aieee_score %>
</p>

<p>
  <b>Shift:</b>
  <%= @cutoff.shift %>
</p>

<p>
  <b>Male score ou:</b>
  <%= @cutoff.male_score_ou %>
</p>

<p>
  <b>Male sml rank ou:</b>
  <%= @cutoff.male_sml_rank_ou %>
</p>

<p>
  <b>Female score ou:</b>
  <%= @cutoff.female_score_ou %>
</p>

<p>
  <b>Female sml rank ou:</b>
  <%= @cutoff.female_sml_rank_ou %>
</p>


<%= link_to 'Edit', edit_cutoff_path(@cutoff) %> |
<%= link_to 'Back', cutoffs_path %>
